.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 2px 4px rgba(95, 95, 95, 0.1);
  z-index: 1;
}

.logo {
  height: 3rem;
  width: auto;
}

.logoIcon {
  display: none;
}

.actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 15rem;
}

.mobileMenu {
  display: none;
}

.menuButton {
  background: none;
  border: none;
  display: none;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .header {
    padding: 0.5rem 1rem;
  }

  .mobileMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
  }

  .actions {
    display: none;
  }

  .logo {
    height: 2rem;
  }
}

@media (max-width: 400px) {
  .logoIcon {
    display: block;
    height: 1.5rem;
  }

  .logo {
    display: none;
  }
}
