.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-around;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-secondary);
}

.illustration {
  width: 60%;
  max-height: 80vh;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-fake-black);
}

.message {
  margin-top: 1rem;
  font-size: 1.125rem;
  color: var(--color-dark-grey);
}

@media (max-width: 952px) {
  .illustration {
    display: none;
  }
}
